.button {
    border-radius: var(--br-11xl);
    border: none;
    background-color: var(--color1);
    justify-content: flex-end;
    padding: var(--padding-mini) var(--padding-11xl);
    cursor: pointer;
    color: var(--color-whitesmoke-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    font-weight: 600;
    font-size: var(--font-size-base);
    margin-bottom: 8vh;
  }
