.div {
    width: 80vw;
    position: relative;
    background-color: var(--color-whitesmoke-100);
    height: 2438px;
    overflow: hidden;
    /* text-align: left; */
    /* font-size: var(--font-size-29xl); */
    color: var(--color-gray-200);
    font-family: var(--font-montserrat);
    padding-top: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
  }

/* Background Lines */
.lineParent {
    position: absolute;
    top: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .lineChild {
    width: 1px;
    border-right: 1px solid var(--color-gainsboro-200);
    box-sizing: border-box;
    height: 2438px;
  }


/* Forms */
.form {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    border-radius: 10px;
    background-color: #fff;
}
