.div {
    width: 80vw;
    position: relative;
    background-color: var(--color-whitesmoke-100);
    /* height: 2438px; */
    overflow: hidden;
    text-align: left;
    /* font-size: var(--font-size-29xl); */
    color: var(--color-gray-200);
    font-family: var(--font-montserrat);
    padding-top: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
  }

/* Title */
.title{
  height: 12vh;
  padding-top: 10vh;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}

.title p{
  font-size: var(--font-size-xl);
}


/* Forms */
.formPersonalData {
  width: 70vw;
  padding: 0 5vw;
  /* background-color: #fff; */
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 60px;
}
.formDetails{
  width: 70vw;
  padding: 0 5vw;
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  padding-bottom: 60px;
}


